<h1 class="title animated jackInTheBox">{{title}}</h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
  <p class="text-center" *ngIf="todos.length==0"><small>Voce ainda nao tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">
    {{todo.name}}
    <button (click)="Concluir(todo)" *ngIf="!todo.done"> <i class="far fa-check-circle"></i> </button>
    <button (click)="Refazer(todo)" *ngIf="todo.done"> <i class="fas fa-check-circle"></i></button>
    <button (click)="Remover(todo)"> <i class="far fa-trash-alt"></i> </button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <form [formGroup]="form">
      <h1 class="text-center">Nova Tarefa: </h1>
      <input type="text"
             placeholder="Titulo da Tarefa"
             maxlength="60"
             formControlName="title">
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Invalido <br></small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="Add()"><i class="far fa-save"></i> Adicionar Tarefa</button>
    </p>
  </form>
  <br><br/>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>

<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
